---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Joe Turk</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>

		<h1>About Me</h1>
        
        <p>I work on <a href="https://intelligrc.com" target="_blank">IntelliGRC</a>, but the opinions on this site are my own.</p>
	</body>
</html>